.boxofficeMain, #mvfooter {
    display: flex;

    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: aliceblue;
}

.boxofficeMain {
    height: 100%;
}

#mvfooter {
    height: 100px;
    width: 60%;
    margin-left: 20%;
    background-color: rgb(113, 23, 23);
    color: white;
}


.sec {
    width: 80%;
    height: 20%;
    
}

.divDt {
    display: flex;
    height: 100%;
    background-color: rgb(102, 200, 249);
    border: 2px dotted gray;
    justify-content: center;
    
    
}

fieldset {

 font-size: small;
 display: flex;
 justify-content: center;   
 align-items: center;
 height: 20px;
 margin-top: 33px;
 border: none;
}

label {
    margin: 5px;
    
}

input[type=date], select {
    width: 40%;
    height: 30px;
    margin: 30px;
    
}

.rank {
    width: 20px;
    height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    color: rgb(11, 79, 138);
    margin-left: 10px;
    background-color: #c3daeb;
    border-radius: 100%;
}

li {
    list-style: none;
    display: flex;
    margin: 5px;
    justify-content: start;
    align-items: center;
}

li:hover {
    background-color: rgb(148, 205, 255);
    border-radius: 5px;
    /* border-bottom: 2px solid rgb(44, 84, 246); */
}

.movieNm {
    width: 60%;
}

.openDt {
    width: 30%;
    
}

.rankInten {
    width: 10%;
    margin-left: 20px;
    
    display: flex;
    justify-content: right;
}

.spRed { 
    color: red;
}

.spBlue {
    color: blue;
}
