main {
    background-color: rgb(193, 218, 255)
}

.sec {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: aliceblue;
}

.sec > input {
    width: 40%;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

#txt2 {
    background-color: antiquewhite;
}

.sec > button {
    width: 25%;
    margin: 5px;
}